extends ../layout

block content
    #root-layout
        //- 상단버튼
        div(class="grid")
            div(class="row") 
                div(class="cell")
                    button(class="shortcut secondary" id="refresh-button")
                        span(class="caption") 목록갱신
                        span(class="mif-refresh icon") 
                    button(class="shortcut alert" id="add-battle-button")
                        span(class="caption") 모임생성
                        span(class="mif-create-new-folder icon")
                    button(class="shortcut info" id="add-battle-button")
                        span(class="caption") 목록찾기
                        span(class="mif-search icon")
        //- 경기목록
        table(class="table table-border cell-border" id="battle-list-table"
                data-role="table" 
                data-source="/battles/list?id&name&sttdate&enddate&location"
                data-show-search="false" 
                data-show-table-info="false" 
                data-table-rows-count-title="표시 항목 수"
                data-pagination-prev-title="이전"
                data-pagination-next-title="다음"
                data-horizontal-scroll="true")
        //- table(class="table table-border cell-border" data-role="table")
            thread
                tr
                    th(rowspan="2") No.
                    th(colspan="3") 경기명칭
                    th 편집
                tr 
                    th 모임일자
                    th 참석자
                    th 참석율
                    th 생성자
            tbody(id="battle-list-container")
                script(type="text/html" id="battle-list-template")
                | {{#list}}  
                tr
                    td(rowspan="2") {{no}}
                    td(colspan="3") {{name}}
                    td 
                        button(class="button secondary") 편집
                tr 
                    td {{date}}
                    td 18명
                    td 100%
                    td {{creator}}
                | {{/list}}
block scripts
    script(src="/javascripts/battles/battles.js")


    //- 
